body, h1, form, label, input {
    padding: 0;
    margin: 0;
    font: inherit
}

input {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #FFF
}

.clear {
    clear: both
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.left {
    float: left
}

.right {
    float: right
}

* {
    box-sizing: border-box
}

body {
    font: 14px Open Sans, sans-serif
}

#layout {
    width: 580px;
    margin: 0 auto;
    padding: 10px
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #6E2B77;
    text-align: center
}

a {
    text-decoration: none;
    color: #FFF;
    display: inline-block
}

a:hover {
    text-decoration: underline
}

h1 {
    font-size: 25px;
    text-align: center
}

.moeda {
    font-size: 40px
}

label {
    color: #6E2B77;
    text-align: right
}

.moeda input[type="text"] {
    padding: 3px;
    width: 180px;
    border: 1px solid #CCC
}

#vars input[type="text"] {
    margin: 30px 20px 0 0;
    padding: 3px;
    width: 50px;
    border: 0;
    border-bottom: 1px solid #DDD
}

:focus {
    outline: 1px solid #6E2B77
}

[disabled] {
    background: #EEE;
    cursor: wait
}

@media only screen and (max-width: 620px) {
    #layout {
        width: 320px;
        text-align: center
    }

    .left, .right {
        float: none
    }

    .right {
        margin-top: 20px
    }

    .moeda label {
        display: inline-block;
        width: 80px
    }
}
