body, h1, form, label, input {
    padding: 0;
    margin: 0;
    font: inherit
}

input {
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #FFF
}

.left {
    float: left
}

.right {
    float: right
}

* {
    box-sizing: border-box
}

body {
    font: 14px 'Open Sans', sans-serif
}

#main {
    width: 580px;
    margin: 0 auto;
    padding: 10px;
    text-align: center
}

header {
    padding: 10px 0;
    margin-bottom: 20px;
    background-color: #6E2B77;
    text-align: center
}

header a {
    color: #FFF;
    display: inline-block
}

form a {
    margin: 8px;
    color: #6E2B77
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1 {
    font-size: 25px
}

.moeda {
    font-size: 40px
}

label {
    color: #6E2B77;
    text-align: right
}

input[type="text"] {
    padding: 3px;
    color: #24292E
}

.moeda input[type="text"] {
    width: 180px;
    border: 1px solid #CCC
}

.moeda input[type="text"]:focus {
    border-color: #6E2B77;
    outline: 0
}

#vars {
    margin-bottom: 30px;
    clear: both
}

#vars input[type="text"] {
    margin: 30px 20px 0 0;
    width: 50px;
    border: 0;
    border-bottom: 1px solid #DDD
}

#vars input[type="text"]:last-child {
    margin-right: 0
}

#vars input[type="text"]:focus {
    border-bottom-color:#6E2B77;
    outline: 0
}

#step-to-step {
    display: none;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    color: #444;
    background-color: #F0E9F1;
    border-top: 3px solid #6E2B77
}

[disabled] {
    background-color: #EEE;
    cursor: wait
}

@media only screen and (max-width: 620px) {
    #main, #step-to-step {
        width: 320px
    }

    .left, .right {
        float: none
    }

    .right {
        margin-top: 20px
    }

    .moeda label {
        display: inline-block;
        width: 80px
    }

    #step-to-step {
        margin-bottom: 40px;
        font-size: 12px
    }
}
